{% extends "vrblog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-vrblogpage{% endblock %}

{% block content %}
<a-entity id="room-prova"
  position="0 0 0"
  rotation="0 0 0">

  <a-entity id="floor-prova-0"
  geometry="primitive: plane; width: 4; height: 6"
  position="0 0 0"
  rotation="-90 0 0"
  material="color: #666666; src: #floor-image-prova; repeat: 4 6">
  </a-entity>

  <a-entity id="ceiling-prova-0"
  geometry="primitive: plane; width: 4; height: 6"
  position="0 2.9 0"
  rotation="90 0 0"
  material="color: #81d742; src: ; repeat: 1 1">
  </a-entity>

  <a-entity id="wall-ent-prova-0"
    position="0 0 -3"
    rotation="0 0 0">
    <a-entity id="wall-ent-prova-0-label" scale="2 2 2" position="0 0.1 0.01"
    text="value: {{ page.title }}; color: black; align: center;"></a-entity>
      <a-plane id="wall-prova-0" position="0 1.45 0"
      width="4" height="2.9" src="#wall-image-prova-0">
      </a-plane>
  </a-entity>

  <a-entity id="wall-ent-prova-1"
    position="2 0 0"
    rotation="0 -90 0">
    <a-plane id="wall-prova-1" position="0 1.95 0"
    width="6" height="1.9" color="#81d742">
    </a-plane>
    <a-entity id="tiling-prova-1" geometry="primitive: plane; width: 6; height: 1"
              position="0 0.5 0"
              material="src: #tiling-image-prova; repeat: 6 1">
    </a-entity>
  </a-entity>

  <a-entity id="wall-ent-prova-2"
    position="0 0 3"
    rotation="0 -180 0">
    <a-plane id="wall-prova-2" position="0 1.6 0"
    width="4" height="2.6" color="#81d742">
    </a-plane>
    <a-plane id="skirting-prova-2" position="0 0.15 0" width="4"
      height="0.3" color="#1e73be">
    </a-plane>
  </a-entity>

  <a-entity id="wall-ent-prova-3"
    position="-2 0 1.5"
    rotation="0 -270 0">
    <a-plane id="wall-prova-3" position="0 2.45 0"
    width="3" height="0.9" color="#81d742">
    </a-plane>
    <a-plane id="tiling-prova-3" position="0 1 0" width="3"
      height="2" color="#dd3333">
    </a-plane>
  </a-entity>

  <a-entity id="wall-ent-prova-4"
    position="-2 0 -1.5"
    rotation="0 -270 0">
    <a-plane id="wall-prova-4" position="0 1.95 0"
    width="3" height="1.9" color="#81d742">
    </a-plane>
    <a-plane id="tiling-prova-4" position="0 0.5 0" width="3"
      height="1" color="#dd3333">
    </a-plane>
  </a-entity>

  <p class='meta'>{{ page.date }}</p>

  {% with categories=page.categories.all %}
    {% if categories %}
      <h3>Posted in:</h3>
        <ul>
          {% for category in categories %}
            <li>
              {% image category.icon fill-32x32 style="vertical-align: middle" %}
              {{ category.name }}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}

  <div class="intro">{{ page.intro }}</div>

  {{ page.body|richtext }}

  {% for item in page.gallery_images.all %}
    <div style="float: left; margin: 10px">
      {% image item.image fill-320x240 %}
      <p>{{ item.caption }}</p>
    </div>
  {% endfor %}

  <p><a href="{{ page.get_parent.url }}">Return to VRblog Index Page</a></p>

  {% if page.tags.all.count %}
  <div class="tags">
    <h3>Tags</h3>
      {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}">
          <button type="button">{{ tag }}</button>
        </a>
      {% endfor %}
  </div>
  {% endif %}

{% endblock %}
