{% extends "vrblog_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-vrblogpage{% endblock %}

{% block content %}
<a-entity id="room-ent"
  position="0 0 0"
  rotation="0 0 0">

  <a-entity id="floor"
  geometry="primitive: plane; width: 3; height: 3"
  position="0 0 0"
  rotation="-90 0 0"
  material="color: #666666; src: ; repeat: 1 1">
  </a-entity>

  <a-entity id="ceiling"
  geometry="primitive: plane; width: 3; height: 3"
  position="0 3 0"
  rotation="90 0 0"
  material="color: #666666; src: ; repeat: 1 1">
  </a-entity>

  <a-entity id="wall-front-ent"
    position="0 0 -1.5"
    rotation="0 0 0">
      <a-entity id="wall-front-title"
        geometry="primitive: plane; width: 3; height: 1.35"
        position="0 2.325 0"
        material="color: #ffffff; src: ; repeat: 1 1">
		<a-text value="{{ page.title }}" color="black" baseline="bottom" align="center" width="3"
		position="0 -0.64 0" wrap-count="30"></a-text>
      </a-entity>
	  <a-entity id="wall-front-date"
        geometry="primitive: plane; width: 3; height: 0.1"
        position="0 1.6 0"
        material="color: #333333; src: ; repeat: 1 1">
		<a-text value="Published {{ page.date }}" color="white" baseline="center" align="left" width="3"
		position="-1.5 0 0" wrap-count="80"></a-text>
      </a-entity>
      <a-entity id="wall-front-intro"
        geometry="primitive: plane; width: 3; height: 1.55"
        position="0 0.775 0"
        material="color: #ffffff; src: ; repeat: 1 1">
		<a-text value="{{ page.intro }}" color="black" baseline="top" align="left" width="3"
		position="-1.5 0.725 0" wrap-count="60"></a-text>
      </a-entity>
  </a-entity>
  
  <a-entity id="wall-right-ent"
    position="1.5 0 -1.5"
    rotation="0 -90 0">
  
	{% with gallery_sizes=page.gallery_sizes gallery_position=page.gallery_position %}
		{% for item in page.gallery_images.all %}
			{% image item.image fill-1000x1000 as temp_image %}
				<a-entity id="wall-right-ent-{{ temp_image.alt }}"
					position="{{ gallery_position.forloop.counter0 }} 0 0">
						<a-plane id="wall-right-{{ temp_image.alt }}" position="{{ gallery_sizes.half }} 1.5 0"
							width="{{ gallery_sizes.module }}" height="3" >
							<a-text value="{{ item.caption }}" color="black" baseline="center" align="left" width="{{ gallery_sizes.half }}"
							position="-{{ gallery_sizes.half }} 0.1 0" wrap-count="30"></a-text>
						</a-plane>
						<a-plane id="wall-right-image-{{ temp_image.alt }}" position="{{ gallery_sizes.center }} 1.6 0.01"
							width="{{ gallery_sizes.half }}" height="{{ gallery_sizes.half }}" src="{{ temp_image.url }}">
						</a-plane>
				</a-entity>
		{% endfor %}
	{% endwith %}
	
	</a-entity>
  <a-entity id="wall-back-ent"
    position="0 0 1.5"
    rotation="0 180 0">
		<a-entity id="wall-back-link"
			geometry="primitive: plane; width: 3; height: 3"
			position="0 1.5 0"
			material="color: #dddddd; src: ; repeat: 1 1"
			text="value: <<< Click to return to VRblog Index Page; color: black; align: right; wrap-count: 50;">
			<a-link href="{{ page.get_parent.url }}" image="" on="click"
			position="-1 0 0.01" scale="0.2 0.2 0.2"></a-link>
		</a-entity>
  </a-entity>

  <a-entity id="wall-left-ent"
    position="-1.5 0 0"
    rotation="0 90 0">
	{% image page.main_image fill-1000x1000 as temp_image %}
      <a-plane id="wall-left" position="0 1.5 0"
      width="3" height="3" src="{{ temp_image.url }}">
      </a-plane>
  </a-entity>

  {% with categories=page.categories.all %}
    {% if categories %}
      <h3>Posted in:</h3>
        <ul>
          {% for category in categories %}
            <li>
              {% image category.icon fill-32x32 style="vertical-align: middle" %}
              {{ category.name }}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}

  {% for item in page.gallery_images.all %}
    <div style="float: left; margin: 10px">
      {% image item.image fill-320x240 %}
      <p>{{ item.caption }}</p>
    </div>
  {% endfor %}

  {% if page.tags.all.count %}
  <div class="tags">
    <h3>Tags</h3>
      {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}">
          <button type="button">{{ tag }}</button>
        </a>
      {% endfor %}
  </div>
  {% endif %}

{% endblock %}
