{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {# <link rel="stylesheet" type="text/css" href="{% static 'css/my_site.css' %}"> #}
        {# Global VR script #}
        <script type="text/javascript" src="{% static 'js/aframe.min.js' %}"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      {# wagtailuserbar #}
        <a-scene>
          <a-assets>
			<img id="black_room" src="{% static 'images/target.png' %}">
			<img id="parquet" src="{% static 'images/parquet.jpg' %}">
			{% with parent=page.get_parent prev=page.get_prev_siblings.live.first next=page.get_next_siblings.live.first %}
			
			{% if parent and parent.specific.main_image %}
			{% image parent.specific.main_image fill-1024x768 as temp_image %}
			<img id="parent_main_image" src="{{ temp_image.url }}">
			{% else %}
			<img id="parent_main_image" src="{% static 'images/target.png' %}">
			{% endif %}
			
			{% if prev and prev.specific.main_image %}
			{% image prev.specific.main_image fill-1024x768 as temp_image %}
			<img id="prev_main_image" src="{{ temp_image.url }}">
			{% else %}
			<img id="prev_main_image" src="{% static 'images/target.png' %}">
			{% endif %}
			
			{% if next and next.specific.main_image %}
			{% image next.specific.main_image fill-1024x768 as temp_image %}
			<img id="next_main_image" src="{{ temp_image.url }}">
			{% else %}
			<img id="next_main_image" src="{% static 'images/target.png' %}">
			{% endif %}
			
			{% endwith %}
            {% block content %}{% endblock %}
            <a-sky src="#black_room"></a-sky>
            <a-entity id="camera-ent">
                  <a-camera id="camera">
                    <a-light type="point"></a-light>
                    <a-entity position="0 -1.6 0" id="camera-foot"></a-entity>
                    <a-cursor color="#2E3A87"></a-cursor>
                  </a-camera>
            </a-entity>
        </a-scene>

        {# Global javascript #}
        {# <script type="text/javascript" src="{% static 'js/my_site.js' %}"></script> #}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
